@font-face {
    font-family: 'Roboto';
    src: url(./assets/fonts/Roboto/Roboto-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url(./assets/fonts/Roboto/Roboto-Bold.ttf);
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'Roboto';
    src: url(./assets/fonts/Roboto/Roboto-Italic.ttf);
    font-style: italic;
    font-weight: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    position: relative;
    background-color: #16222D;
    color: #D3DAE1;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

/*Общие стили*/
.panel {
    background-color: #1f2e3c;
    border: 3px solid #6F8DA9;
    border-radius: 5px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.5), inset -5px -5px 5px rgba(0, 0, 0, 0.5);
}
.sidebar_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background-color: rgba(110, 178, 236, 0.2);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    padding: 15px 10px;
}
.sidebar_title {
    margin-left: 25px;
}
.sidebar_hide-button svg {
    width: 20px;
    height: 20px;
    fill: #D3DAE1;
}
.tools-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 120px;
    height: 80%;
    margin-left: 20px;
    border: none;
    border-radius: 10px;
    color: #D3DAE1;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    transition: background-color 0.2s;
}
.tools-button:hover {
    background-color: rgba(15, 107, 160, 0.5)
}
.tools-button svg {
    width: 30px;
    height: 30px;
    fill: #D3DAE1;
}
.input {
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #4d88ff;
    border-radius: 10px;
    color: #D3DAE1;
    font-size: 16px;
    outline: none;
    background-color: rgba(0, 0, 0, 0.2);
}
.btn {
    padding: 5px;
    color: #D3DAE1;
    cursor: pointer;
    transition: background-color 0.3s;
}
.cancel-btn {
    border: 1px solid #E12C2C;
    background-color: rgba(225, 44, 44, 0.4);
}
.cancel-btn:hover {
    background-color: #E12C2C;
}
.confirm-btn {
    border: 1px solid #1AB334;
    background-color: rgba(26, 179, 52, 0.4);
}
.confirm-btn:hover {
    background-color: #1AB334;
}
.modal {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5)
}
.modal_content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    width: 400px;
    height: 200px;
    margin: 0 auto;
    background-color: rgba(110, 178, 236, 0.2);
    border-radius: 10px;
}
.modal_header {
    display: flex;
    justify-content: space-between;
    padding: 0 15px 10px;
    border-bottom: 1px solid rgba(110, 178, 236, 0.4);
    text-align: center;
}
.modal_close {
    padding: 10px;
    cursor: pointer;
}
.modal_close svg {
    width: 15px;
    height: 15px;
    fill: #D3DAE1;
}

.modal_input {
    width: 80%;
}
.modal_btn {
    width: 100px;
    height: 40px;
    margin: 0 auto;
    border: 1px solid #5A2383;
    color: #D3DAE1;
    background-color: rgba(85, 26, 129, 0.2);
    cursor: pointer;
    transition: background-color 0.3s;
}
.modal_btn:hover {
    background-color: rgba(85, 26, 129, 0.6);
}

/*Шапка*/
.board-name_block {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 15px;
    border: 3px solid #6F8DA9;
    border-radius: 5px;
    background-color: rgba(110, 178, 236, 0.2);
}
/* .header-tools {
    display: flex;
    align-items: center;
    height: 15vh;
    width: 100vw;
} */

/*Левая боковая панель*/
.left-sidebar .sidebar_hide-button {
    cursor: pointer;
    transition: transform 0.5s;
}
.left-sidebar {
/*     display: flex;
    flex-direction: column;
    align-items: center; */
    width: 15%;
    height: 95vh;
    /* margin-top: 15px; */
    border-top: none;
    transition: width 0.5s;
}
.sidebar_header {
    width: 100%;
}
.sidebar_main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.board-list {
    width: 100%;
    padding: 15px;
    text-align: right;
}
.board-list_item {
    padding: 10px;
    list-style: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s;
}
.board-list_item:first-of-type {
    margin-top: 0;
}
.board-list_item:hover {
    background-color: rgba(90, 35, 131, 0.3)
}
.board-list_item.active {
    background-color: rgba(90, 35, 131, 0.3)
}
.create_board {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 50px;
    border: 2px solid #16222D;
    border-radius: 5px;
    color: #C351DD;
    background-color: rgba(110, 178, 236, 0.2);
    cursor: pointer;
}

/*Центральный блок*/
.central-block {
    display: flex;
}
.main-board {
    display: flex;
    /*flex-direction: row-reverse;*/
    padding: 15px;
    overflow: hidden;
}
.column-holder {
    width: 250px;
    height: 100%;
    /* padding: 20px; */
    margin-right: 30px;
    border-radius: 20px;
    /* border: 1px solid red; */
    transition: background-color 0.3s;
}
.column { 
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 95vh;
    margin-right: 30px;
    padding: 5px 10px;
    background-color: rgba(110, 178, 236, 0.2);
    border-radius: 20px;
    font-weight: bold;
}
.column.activated {
    height: 80px;
}
.column.created {
    height: 95vh;
    /* background-color: rgba(10, 109, 27, 0.5); */
    background-color: rgba(110, 178, 236, 0.2);
}
.create_btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 250px;
    height: 50px;
    margin-top: 14px;
    background-color: rgba(110, 178, 236, 0.2);
    border-radius: 20px;
    cursor: pointer;
}
.create_card {
    width: 90%;
    height: 50px;
    border: 2px solid #16222D;
    border-radius: 5px;
    color: #4DC21E;
    background-color: #1f2e3c;
}
.column .name_input {
    width: 100%;
    height: 20px;
}
.column .btn-block {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.column .header {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    min-height: 40px;
    padding: 10px 0;
}
.column .naming-block {
    padding-bottom: 10px;
    border-bottom: 1px solid #16222D;
}
.column .finished-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #16222D;
}
.column .options-btn {
    padding: 10px;
    cursor: pointer;
}
.column .options-list {
    position: absolute;
    top: 70%;
    right: -20%;
    border: 2px solid #16222D;
    border-radius: 5px;
    background-color: #315371;
    font-size: 0.8em;
    list-style: none;
    z-index: 5;
}
.column .option-element {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #16222D;
    transition: background-color 0.3s;
}
.column .option-element:hover {
    background-color: #16222D;
}
.column .option-element:last-of-type {
    border-bottom: none;
}
.column.created .main {
    min-height: 20px;
    max-height: 85%;
    overflow-y: scroll;
    scrollbar-width: 0px;
    scrollbar-base-color: transparent;
}
.column.created .main::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
}

.card {
    width: 220px;
    max-height: 200px;
    margin: 10px 0;
    border-radius: 20px;
    cursor: grab;
    transition: top 0.5s;
}
.card.create {
    display: flex;
    justify-content: center;
    padding: 15px;
    /* height: 150px; */
}
.card .create_btn {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    cursor: pointer;
}
.card .naming-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}
.card .btn-block {
    margin-top: 10px;
}
.card .finished-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 10px;
    width: 100%;
    height: 100%;
    border: none;
}
.card .title {
    overflow-x: hidden;
}
.card .options-btn {
    padding: 10px;
    cursor: pointer;
}
.card .options-list {
    position: absolute;
    top: 70%;
    right: -40%;
    border: 1px solid #16222D;
    border-radius: 5px;
    background-color: #315371;
    font-size: 0.8em;
    list-style: none;
}
.card .option-element {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #16222D;
    transition: background-color 0.3s;
}
.card .option-element:hover {
    background-color: #16222D;
}
.card .option-element:last-of-type {
    border-bottom: none;
}
/*Интерактивные стили*/
.hide {
    display: none !important;
}

.over {
    background-color: rgba(255, 255, 255, 0.2);
}
.hold {
    opacity: 0.5;
}
.mirrored {
    transform: scaleX(-1);
}
.left-sidebar.hide {
    display: block !important;
    overflow: hidden;
    width: 50px;
}
.flex-column {
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}

/*Визуальный общие стили*/
.green {
    background-color: rgba(43, 155, 20, 0.6);
}
.red {
    background-color: rgba(210, 40, 40, 0.6);
}
.purple {
    background-color: rgba(147, 17, 165, 0.6);
}
.yellow {
    background-color: rgba(210, 186, 32, 0.6);
}